.mario-bg {
  background: url(../../assets/images/bg-3.gif) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.left-mid {
  left: 42%;
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Start at normal size */
    opacity: 1; /* Fully visible */
  }
  50% {
    transform: scale(1.2); /* Scale up to 120% */
    opacity: 0.7; /* Slightly fade out */
  }
  100% {
    transform: scale(1); /* Return to normal size */
    opacity: 1; /* Fully visible again */
  }
}

/* Apply the animation to the element */
.pulse {
  border-radius: 60%; /* Make it a circle */
  animation: pulse 1s infinite; /* 2s duration, infinite loop */
}

.coin {
  animation: spinHoriz 1s infinite linear;
}

/* 3D animation for vertical spin */
@keyframes spinHoriz {
  0% {
    transform: rotateY(0deg); /* No rotation at the start */
  }
  100% {
    transform: rotateY(360deg); /* Full 360-degree rotation on X-axis */
  }
}

.shadow {
  filter: drop-shadow(4px 4px 25px rgba(255, 215, 0, 0.8));
  animation: glowPulse 1s infinite ease-in-out;
}

@keyframes glowPulse {
  0% {
    filter: drop-shadow(0 0 5px rgba(255, 215, 0, 0.4));
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(255, 215, 0, 1));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(255, 215, 0, 0.4));
  }
}
