<div class="static justify-center items-center mario-bg">
  <div>
    <div class="absolute top-5 right-5">
      <img [src]="muteImg" width="40" (click)="muteSound()" />
    </div>
    @if(!gameStarted){
    <!-- --------------- START Button ------------- -->
    <button
      class="absolute top-20 left-mid bg-amber-500 hover:bg-amber-400 text-white text-3xl font-extrabold py-6 px-12 border-b-8 border-amber-700 hover:border-amber-500 rounded-2xl shadow-lg hover:scale-105 transition-transform duration-200"
      (click)="startGame()"
    >
      START
    </button>
    <img
      class="absolute bottom-5 left-mid"
      src="assets/images/moving7.gif"
      width="100"
      alt="kirby"
    />}

    <!-- --------------- GAME STARTED Part START ------------- -->
    @if(gameStarted){

    <!-- --------------- counter Part START ------------- -->
    @if(boostFlowerClicked){
    <div class="absolute top-5 left-mid">
      <p class="text-3xl text-red-500">
        Countdown: <span class="text-5xl">00:0{{ countdown }}</span>
      </p>
    </div>
    }
    <!-- --------------- counter Part END ------------- -->

    <!-- --------------- PowerUps Part START ------------- -->
    <div class="absolute top-5 left-20">
      <button
        class="bg-amber-500 hover:bg-amber-400 text-white text-3xl font-extrabold py-2 px-12 border-b-8 border-amber-700 hover:border-amber-500 rounded-2xl shadow-lg hover:scale-105 transition-transform duration-200"
        [ngClass]="{ disabled: boostFlowerClicked || flowerCount < 1 }"
        (click)="biggerKirby()"
      >
        <label>Boost</label>
        <br />
        <div class="flex justify-center">
          <label>1 X &nbsp;</label>
          <img src="assets/images/flower.png" width="30" />
        </div>
      </button>
    </div>
    <!-- --------------- PowerUps Part END ------------- -->

    @if(showFlower){
    <!-- --------------- BONUS Section START ------------- -->
    <div class="absolute top-60 left-60 pulse">
      <div class="flex flex-col items-center">
        <label class="text-3xl">Extra Points</label>
        <img
          (click)="onFlowerClick()"
          src="assets/images/flower.png"
          width="100"
        />
        <label class="text-2xl">10 Coins</label>
      </div>
    </div>

    }@if (showStar) {
    <div class="absolute top-110 left-100">
      <div class="flex flex-col items-center">
        <label class="text-3xl">Monster Kirby</label>
        <img
          (click)="onStarClick()"
          class="shadow"
          src="assets/images/star.png"
          width="100"
        />
        <label class="text-2xl">30 Coins</label>
      </div>
    </div>
    }
    <!-- --------------- BONUS Section END ------------- -->
    <!-- --------------- Rewards Part START ------------- -->
    <div class="absolute top-30 right-30 items-center">
      <div class="flex w-40 items-center">
        <img
          src="assets/images/coin.png"
          class="mx-3"
          [ngClass]="{ coin: flowerCliked }"
          alt="coin"
          width="50"
        />
        <label class="text-6xl">x{{ coins }}</label>
      </div>
      <div class="flex w-40 items-center">
        <img src="assets/images/flower.png" class="mx-3" width="50" />
        <label class="text-6xl">x{{ flowerCount }}</label>
      </div>
      <div class="flex w-40 items-center">
        <img src="assets/images/star.png" class="mx-3" width="50" />
        <label class="text-6xl">x{{ starCount }}</label>
      </div>
    </div>
    <!-- --------------- Rewards Part END ------------- -->
    <!-- --------------- Total Clicks Part START ------------- -->
    <div class="absolute top-30 left-mid w-60">
      <label class="text-3xl">TOTAL CLICKS </label>
      <label class="mx-20 text-6xl text-center w-60">{{ clicks }}</label>
    </div>
    <!-- --------------- Total Clicks Part END ------------- -->

    <!-- --------------- Sprite Part START ------------- -->
    <div class="absolute bottom-5 left-mid flex-col mt-50">
      <img src="assets/images/box.png" [width]="BoxSize" class="mt-30" />
      @if(!kirbyClicked){
      <img
        (click)="onKirbyClick()"
        src="assets/images/moving7.gif"
        [width]="kirbySize"
        alt="kirby2"
      />
      } @if(kirbyClicked){
      <img
        src="assets/images/moving8.png"
        [width]="kirbySize"
        alt="clickedKirpy"
      />
      }
    </div>
    <!-- --------------- Sprite Part END ------------- -->

    }
    <!-- --------------- GAME STARTED Part END ------------- -->
  </div>
</div>
